In [ ]:
# 1. Introduction of Iterating through numpy arrays

In [9]:
import numpy as np

In [2]:
a=np.arange(11)**2   # The last value is always exclusive in the arange function

a

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100], dtype=int32)

In [ ]:
# To print the array using the loops

In [3]:
for i in a:
    print(i**(1/2))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0

In [15]:
students = np.array([['lakshmi','chandu','sriii','devi','sahi','varshi'],
                    [65,70,54,66,72,68],
                    [71,82,79,92,65,70]])

students

array([['lakshmi', 'chandu', 'sriii', 'devi', 'sahi', 'varshi'],
       ['65', '70', '54', '66', '72', '68'],
       ['71', '82', '79', '92', '65', '70']], dtype='<U7')

In [16]:
print(students)

[['lakshmi' 'chandu' 'sriii' 'devi' 'sahi' 'varshi']
 ['65' '70' '54' '66' '72' '68']
 ['71' '82' '79' '92' '65' '70']]

In [17]:
for i in students:
    print('a=',i)

a= ['lakshmi' 'chandu' 'sriii' 'devi' 'sahi' 'varshi']
a= ['65' '70' '54' '66' '72' '68']
a= ['71' '82' '79' '92' '65' '70']

In [18]:
type(students)

numpy.ndarray

In [ ]:
#enhancement of the code

In [19]:
for element in students.flatten():   # This will do the row wise flattening (also known C order)
    print(element)

lakshmi
chandu
sriii
devi
sahi
varshi
65
70
54
66
72
68
71
82
79
92
65
70

In [21]:
for element in students.flatten(order='F'):   # This will do the column wise flattening (forton order flattening)
    print(element)

lakshmi
65
71
chandu
70
82
sriii
54
79
devi
66
92
sahi
72
65
varshi
68
70

In [22]:
x=np.arange(12).reshape(3,4)

x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
# note: The default iteration behaviour is always a row wise iteration

In [23]:
for i in np.nditer(x):   #row wise flattening.
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [24]:
for i in np.nditer(x, order='F'):   #column wise flattening
    print(i)

0
4
8
1
5
9
2
6
10
3
7
11