In [ ]:
# 1. UNDERSTANDING THE FILE FORMATS (.csv,.xlsx,.json)

In [2]:
import numpy as np

In [5]:
Salaries = np.genfromtxt('Salary.csv',delimiter=',')  #Salary.csv file should be uploaded to Jupyter.

Salaries

array([60000., 58000., 56967., ..., 54647., 25000., 70000.])

In [6]:
Ages = np.genfromtxt('Ages.csv',delimiter=',')

Ages

array([[   nan,    nan,    nan],
       [1890. ,   26.1,   22. ],
       [1900. ,   25.9,   21.9],
       [1910. ,   25.1,   21.6],
       [1920. ,   24.6,   21.2],
       [1930. ,   24.3,   21.3],
       [1940. ,   24.3,   21.5],
       [1950. ,   22.8,   20.3],
       [1960. ,   22.8,   20.3],
       [1970. ,   23.2,   20.8],
       [1980. ,   24.7,   22. ],
       [1990. ,   26.1,   23.9],
       [2000. ,   26.8,   25.1]])

In [ ]:
# 2. To find the Mean of the Salaries

In [9]:
print('Mean result of the Employee Salaries:')

print(np.mean(Salaries))

Mean result of the Employee Salaries:
55894.53879686138

In [ ]:
# 3. To find the median of the Salaries

In [11]:
print('Median result of the Employee Salaries:')

print(np.median(Salaries))

Median result of the Employee Salaries:
48000.0

In [ ]:
# 4. To find the Variance of the Salaries

In [13]:
print('Variance of the Salaries are listed below:')

print(np.var(Salaries))

Variance of the Salaries are listed below:
3043770333.8474483