In [ ]:
#1 Variables & Declaration

In [2]:
x=4
y=5
x-y

-1

In [3]:
first name = 'sridhar'  #invalid declaration

SyntaxError: invalid syntax (<ipython-input-3-97407a5a30f4>, line 1)

In [10]:
First_Name = "Devi"    #valid declaration
print(First_Name)

Devi

In [11]:
2abc = 50   #invalid declaration

SyntaxError: invalid syntax (<ipython-input-11-a52a59a29fa7>, line 1)

In [13]:
abc2 = 50   #valid declaration
print(abc2)

50

In [14]:
$xyz = 500    #invalid declaration

SyntaxError: invalid syntax (<ipython-input-14-6d123effd950>, line 1)

In [27]:
xyz$ = 2500
print(xyz$)   
#Question1: special character '@' and '=' colors are same i.e purple.could you please clarify the reason of having same color for both of them?
#question2: As per the rules, variable declaration shouldn't start with special character, but it can end up with special character. But in the above declaration, it is throwing error. could you please check on it?

SyntaxError: invalid syntax (<ipython-input-27-ac5999e1a5b5>, line 1)

In [ ]:
#2 usage of String Datatype

In [30]:
name = 'sridhar palla'  #using single quotes
print(name)

sridhar palla

In [31]:
type (name)

str

In [33]:
gender = "female" #using double quotes
print(gender)

female

In [34]:
type(gender)

str

In [35]:
profession = """Software engineer"""
print(profession)

Software engineer

In [36]:
type(profession)

str

In [ ]:
#3 usage of string datatype & its methods

In [38]:
name = 'devi sivaneni'   #usage of title case to convert the first character of the string to Uppercase
print(name.title())

Devi Sivaneni

In [40]:
name1 = 'devi sridhar'  #usage of upper case to convert string into the uppercase
print(name1.upper())

DEVI SRIDHAR

In [42]:
name2 = " CHANDRA RAO"  #usage of upper case to convert string into the lowercase
print(name2.lower())

 chandra rao

In [ ]:
#4 usage of F string

In [47]:
first_name = "devi"     #using f string to concatenate the strings
last_name = "sriii"
full_name = f"{first_name}{last_name}"
print(full_name)

devisriii

In [48]:
first_name = "varshini"    #using f string to concatenate the strings & to display it in Uppercase
last_name = "kondeti"
full_name = f"{first_name}{last_name}"
print(full_name.upper())

VARSHINIKONDETI

In [50]:
first_name = "Sahithi"    #using f string to concatenate the strings & enhancing it 
last_name = "Kondeti"
full_name = f"Good work, keep up the momentum {first_name}{last_name}"
print(full_name)

Good work, keep up the momentum SahithiKondeti