In [ ]:
# 1. Usage of whitespaces in Strings

In [1]:
print('\tPython')    # /t ----> using Tab delimiter

	Python

In [2]:
print ("Types of languages:\nPython\njava\nSpark\nPHP")   # /n ----> using newline delimiter

Types of languages:
Python
java
Spark
PHP

In [3]:
print ("Types of languages:\n\tPython\n\tjava\n\tSpark\n\tPHP") # /n/t ----> using both tab & newline delimiter

Types of languages:
	Python
	java
	Spark
	PHP

In [ ]:
#2. Removing whitespaces in strings

In [18]:
name = 'Devi '      # space on rightside
name1 = ' Sriii'    # space on leftside
name2 = ' varshini '   # space on both sides
print(name)
print(name1)
print(name2)

Devi
 Sriii
 varshini

In [19]:
name2.strip()   #removes all the spaces in the string

'varshini'

In [11]:
name.rstrip()    #removes the rightside spaces

'Devi'

In [13]:
name1.lstrip()  #removes the leftside spaces

'Sriii'

In [ ]:
#3 using Numbers - Integer & Float datatypes

In [21]:
2+4   #addition of integers

6

In [22]:
5-2  #subtraction of integers

3

In [23]:
2**3   #exponential power

8

In [27]:
x=2
y=4
z=x*y
print(z)

8

In [29]:
type(z)

int

In [30]:
x=2.0   #using float
y=5.0
z=x+y
print(z)

7.0

In [31]:
type(z)

float

In [ ]:
#4 usage of List Datatype & Indexing

In [32]:
fruits=['apple','mango','grapes','papaya','lichi','orange']     #holding multiple items
print(fruits)

['apple', 'mango', 'grapes', 'papaya', 'lichi', 'orange']

In [33]:
type(fruits)

list

In [34]:
print(fruits[1])    #displays the value stored in the 1st index position of the list

mango

In [35]:
print(fruits[4])    #displays the value stored in the 4th index position of the list

lichi