In [ ]:
# INTRODUCTION TO LIST SLICING

In [10]:
students = ['sahithi', 'varshini', 'pandu', 'dinesh', 'sridhar', 'devi']

print(students)

['sahithi', 'varshini', 'pandu', 'dinesh', 'sridhar', 'devi']

In [11]:
type(students)

list

In [ ]:
#1 To divide the list of elements into two parts in sequence i.e Slicing with step count

In [12]:
print(students[0:3])   # To print the first half of the elements in the list i.e Sahithi, vasrhini, pandu based on their indexes

['sahithi', 'varshini', 'pandu']

In [13]:
print(students[3:6])  # To print the second half of the elements in the list i.e dinesh, sridhar, devi  based on their indexes

['dinesh', 'sridhar', 'devi']

In [ ]:
#2 To print the alternate elements in the list using step count

In [16]:
student = ['harina', 'santoshi', 'priyanka', 'prasanna', 'kasim', 'tejas', 'devi', 'prasad']

print(student)

['harina', 'santoshi', 'priyanka', 'prasanna', 'kasim', 'tejas', 'devi', 'prasad']

In [19]:
print(student[0:8:2])    # This will display the alternate numbers in the list

['harina', 'priyanka', 'kasim', 'devi']

In [20]:
print(student[0:8:1])  # Here it will display all the elements in the list

['harina', 'santoshi', 'priyanka', 'prasanna', 'kasim', 'tejas', 'devi', 'prasad']

In [ ]:
# INTRODUCTION TO TUPLE

In [22]:
dimension = (200,50)  #Tuple is an immutable datatype, which will have the fixed values . Once the value is assigned, it can't be changed

print(dimension)

(200, 50)

In [23]:
type(dimension)

tuple

In [ ]:
# To access the elements in the Tuple

In [25]:
value = (200,50,100,300,150,250)

print(value)

(200, 50, 100, 300, 150, 250)

In [26]:
print(value[3])   # To display the value at index 3

300

In [27]:
print(value[0:5]) # To display the first four values in the tuple

(200, 50, 100, 300, 150)